<div id="game"></div>
<script src="./react.js"></script>
<script src="./react-dom.js"></script>
<script src="./babylon.js"></script>

{{#if development}}
<script src="./touch-emulator.js"></script>
<script> TouchEmulator(); </script>
{{/if}}

{{#if development}}
    <script src="http://localhost:8080/bundle.js"></script>
{{else}}
    <script src="./dist/bundle.js"></script>
{{/if}}